{% extends 'substitutes/base.html' %}
{% block content %}
<header class="banner">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end"></div>
            <div class="col-lg-8 align-self-baseline">
                {% block insert %}{% endblock %}
            </div>
        </div>
    </div>
</header>
<body>
    <section class="page-section bg-secondary">
        <div class="container-fluid">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
    </section>
</body>
{% endblock %}