{% extends 'substitutes/banner.html' %}
{% block insert %}
<!-- Banner -->
<h1 class="text-white mt-0">{{ product.name }}</h1>   
{% endblock %}
{% block body %}
<body>
    <section class="page-section bg-secondary">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h4 class="mt-0">Nutriscore : {{ product.nutriscore}}</h4>
                <div class="col text-center">
                    <h4 class="mt-0">Repère nutrtionnel pour 100g : {{ product.key_100g }}</h4>
                </div>
            </div>  
        </div>
    </section>
</body>
{% endblock %}
