{% extends 'substitutes/banner.html' %}
{% block insert %}
<h1 class="text-white mt-0">Connectez-vous !</h1>
{% endblock %}
{% block body %}
<body>
    <section class="page-section bg-secondary">
        <div class="container-fluid">
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form class="form-inline" action="{% url 'users:connexion' %}" method="POST">
                        {% csrf_token %}
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                           <input class="form-control" id="email_input" name="email" type="text" placeholder="Entrez votre nom d'utilisateur" data-sb-validations="required,user_name" />
                            <!--{{ form.email }}-->
                            <label for="email">Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Une adresse Email est requise.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Adresse Email non valide.</div>
                        </div>
                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password_input" name="password" type="password" placeholder="Entrez votre mot de passe..." data-sb-validations="required,password" />
                            <!--{{ form.password }}-->
                            <label for="password">Mot de passe</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">Un mot de passe est requis.</div>
                            <div class="invalid-feedback" data-sb-feedback="password:password">Mot de passe non valide.</div>
                        </div>
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Connexion</button></div>
                        <div class="text-center" style="margin-top: 1rem;"><h4>Pas encore inscrit ?</h4><a href="{% url 'users:subscribe' %}"><h4>inscrivez-vous</h4></a></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}