{% extends 'substitutes/banner.html' %}
{% block insert %}
<h1 class="text-white mt-0">Inscrivez-vous !</h1>
{% endblock %}
{% block body %}
<body>
    <section class="page-section bg-secondary">
        <div class="container-fluid">
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form class="form-inline" actions="{% url 'users:subscribe' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                           <!--<input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />-->
                            {{ form.first_name }}
                            <label for="first_name">Prénom</label>
                            <div class="invalid-feedback" data-sb-feedback="first_name:required">Un prénom est requis.</div>
                            <div class="invalid-feedback" data-sb-feedback="first_name:first_name">Prénom non valide.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                           <!--<input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />-->
                            {{ form.email }}
                            <label for="email">Adresse Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Une adresse Email est requise.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Adresse Email non valide.</div>
                        </div>
                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <!--<input class="form-control" id="password" type="text" placeholder="Entrez votre mot de passe..." data-sb-validations="required,email" />-->
                            {{ form.password }}
                            <label for="password">Mot de passe</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">Un mot de passe est requis.</div>
                            <div class="invalid-feedback" data-sb-feedback="password:password">Mot de passe non valide.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Inscription réussie!</div>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">S'inscrire</button></div>
                        <div class="text-center" style="margin-top: 1rem;"><h4>Déjà inscrits ?</h4><a href="{% url 'users:connexion'%}"><h4>Connectez-vous</h4></a></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}